In [1]:
import os

In [2]:
import pandas as pd
import numpy as np

In [50]:
text = """{"tableMetaDatas":[{"tableName":"user","columnMetaDatas":[{"columnName":"name","columnType":"VARCHAR","isAutoIncrment":"false"},
{"columnName":"address","columnType":"VARCHAR","isAutoIncrment":"false"}
]},
{"tableName":"order","columnMetaDatas":[{"columnName":"amount","columnType":"double","isAutoIncrment":"false"},
{"columnName":"order_status","columnType":"VARCHAR","isAutoIncrment":"false"}
]}]}"""

In [36]:
import json
from pprint import pprint

In [40]:
dictionaryToJson = json.dumps(text)

In [43]:
print(json.dumps(text))

{"tableMetaDatas": [{"columnMetaDatas": [{"isAutoIncrment": "false", "columnName": "name", "columnType": "VARCHAR"}, {"isAutoIncrment": "false", "columnName": "address", "columnType": "VARCHAR"}], "tableName": "user"}, {"columnMetaDatas": [{"isAutoIncrment": "false", "columnName": "amount", "columnType": "double"}, {"isAutoIncrment": "false", "columnName": "order_status", "columnType": "VARCHAR"}], "tableName": "order"}]}

In [78]:
parsed_json = json.loads(text)

In [53]:
type(parsed_json)

dict

In [87]:
j=parsed_json

In [92]:
df =pd.DataFrame.from_dict(j,orient='index')

In [102]:
df.reset_index(inplace=True)

In [226]:
df

,index,0,1
0,tableMetaDatas,{'columnMetaDatas': [{'isAutoIncrment': 'false...,{'columnMetaDatas': [{'isAutoIncrment': 'false...

In [234]:
## for getting number of tables 
df.columns.shape[0]-1 ## Since Index column is not specific to table

3

In [235]:
count=0
for i in range(df.columns.shape[0]-1):
    if count==0:
        df1 =pd.DataFrame.from_dict(df.iloc[:,1].to_dict(),orient='index')
        count+=1
    else:
        df1 =pd.concat([df1,pd.DataFrame.from_dict(df.iloc[:,2].to_dict(),orient='index')],axis=0)

In [236]:
df1

                                     columnMetaDatas tableName
0  [{'isAutoIncrment': 'false', 'columnName': 'na...      user
0  [{'isAutoIncrment': 'false', 'columnName': 'am...     order

In [224]:
count=0
df_final=pd.DataFrame()
for a in df1['tableName']:
    for b in df1[df1['tableName']==a]['columnMetaDatas']:
        new_dict=dict((item['columnName'], item) for item in b)
        if count==0:
            df_final=pd.DataFrame.from_dict(new_dict,orient='index')
            df_final['tablename']=a
            count+=1
        else:
            df_final=pd.concat([df_final,pd.DataFrame.from_dict(new_dict,orient='index')],axis=0) 
            df_final['tablename'].fillna(a, inplace=True)

In [225]:
df_final

                columnName columnType isAutoIncrment tablename
address            address    VARCHAR          false      user
name                  name    VARCHAR          false      user
amount              amount     double          false     order
order_status  order_status    VARCHAR          false     order

In [207]:
##Alternate method
count=0
df_final=pd.DataFrame()
for i in df1['columnMetaDatas']:
    new_dict = dict((item['columnName'], item) for item in i)
    if count==0:
        df_final=pd.DataFrame.from_dict(new_dict,orient='index')
        count+=1
    else:
        df_final=pd.concat([df_final,pd.DataFrame.from_dict(new_dict,orient='index')],axis=0)

In [208]:
df_final

             isAutoIncrment    columnName columnType
address               false       address    VARCHAR
name                  false          name    VARCHAR
amount                false        amount     double
order_status          false  order_status    VARCHAR